.x-tilebutton {
  margin: 0.3em;
  font-size: 0.9em;
  color: $dashboard-color;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid lightgray;
  max-height: 200px;
  -webkit-box-orient: vertical;
}

.x-tilebutton-title {
  /*margin-top: 5px;*/
  font-size: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 5px;
}

.x-tilebutton-label {
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 5px;
}

.x-tilebutton-icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  @media only screen and (min-width: 768px) {
    background-size: 110px;
    height: 110px;
    /*width: 140px;*/
  }

  /* Landscape phone to portrait tablet */
  @media only screen and (max-width: 767px) { 
    background-size: 110px;
    height: 110px;
  }

  /* Landscape phones and down */
  @media only screen and (max-width: 320px) { 
    background-size: 80px;
    height: 80px;
  }

}

.x-tilebutton-icon-expand {
  background-size: auto !important;
}

.x-tilebutton-pressed {
  -webkit-box-shadow: 0px 0px 10px 2px $base-color;
  box-shadow: 0px 0px 10px 2px $base-color;
  border-radius: 0.5em;
  color: $base-color;
  border: 1px solid $base-color;
}


/*  .x-hasbadge {
    overflow: visible;
    .x-badge {
      @extend .x-button-label;
      @include background-clip(padding-box);
      @if $include-border-radius { @include border-radius($badge-radius); }
      padding: .1em .3em;
      z-index: 2;
      @if $include-button-highlights {
        @include bevel-by-background($badge-bg-color);
        @include box-shadow(rgba(#000, .5) 0 .1em .1em);
      }
      overflow: hidden;
      @include color-by-background($badge-bg-color, $contrast: 50%);
      border: 1px solid darken($badge-bg-color, 10%);
      position: absolute;
      width: auto;
      min-width: $badge-size;
      line-height: 1.2em;
      font-size: .6em;
      right: 0px;
      top: -.2em;
      max-width: 95%;
      @include background-gradient($badge-bg-color, $badge-bg-gradient);
      display: inline-block;
    }
  }*/
