 /* Sencha Variables. */
 /* General base color for style. */
$base-color: #406291;
/* Used for action buttons and active items.*/
$active-color: #D4AF37; 
/* Disable gradients, shadows ... for tabs.*/
$include-tab-highlights: false;
/*'ComfortaaRegular',*/
$font-family: 'PT Sans',  "Helvetica Neue" , HelveticaNeue , "Helvetica-Neue" , Helvetica , "BBAlpha Sans" , sans-serif;
$base-gradient: 'glossy';
$button-gradient: 'glossy';
$page-bg-color: #fffffb;
$list-bg-color: #fffffb;
$form-bg-color: $page-bg-color;
/* Round tab buttons top left and lower right. */
$tabs-bottom-radius: 0.5em;
/* Forms */
$form-slider-size: 0.4em;
$form-thumb-size: 1.4em;
$form-label-color: #4C321A;

/* Custom variables */
/* Font color for most of the buttons. Also used as border color, color for titlebars. */
$font-color: #FFFFFF;
/* Text color for list rows. */
$list-color: #664442;
/* Used for text directly displayed on the background. */
$label-color: #664442;
/* Background for product detail description. */
$product-sub-bg: #D3D3D3;
/*$product-sub-bg: transparent;*/
/* Color for dashboard fonts. */
$dashboard-color: #1E4776;
/* Background color for message boxes. */
$sheet-bg-color: #a47772;
$sheet-bg-gradient: #a47772;


@import 'templates/_theme-template.scss';

.x-msgbox {
	/*background-color: $base-color;*/
	@include background-gradient(darken($base-color, 20%), 'flat');
	/*border: .15em solid lighten($sheet-bg-color, 20%);*/
}