.dashboard-button {
  margin-bottom: 8px;
  background-repeat: no-repeat;
  background-position: 2% center;
  font-size: 0.95em;
  color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 100%;
  height: 80px;
  position: relative;
  -webkit-box-shadow: 0 4px 2px -2px #eee;
  box-shadow: 0 4px 2px -2px #eee;
}

.dashboard-button-icon {
    $dashboard-button-icon-bgsize : 32px;
    $dashboard-button-icon-size : 46px;
    $dashboard-button-icon-radius: 23px;
    background-size:  $dashboard-button-icon-bgsize;
    background-position: center;
    width: $dashboard-button-icon-size;
    height: $dashboard-button-icon-size;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: $dashboard-button-icon-radius;
    background-repeat: no-repeat;
    background-color: white;

   @media only screen and (min-width: 768px) {
      background-size: $dashboard-button-icon-bgsize * 1.2;
      width: $dashboard-button-icon-size * 1.2;
      height: $dashboard-button-icon-size * 1.2;
      border-radius: $dashboard-button-icon-radius * 1.2;
    }

  /* Landscape phone to portrait tablet */
/*  @media only screen and (max-width: 767px) { 
    background-size: 54px;
    width: 78px;
    height: 78px;
  }*/

  /* Landscape phones and down */
  @media only screen and (max-width: 320px) { 
    background-size:  $dashboard-button-icon-bgsize * 0.8;
    border-radius: $dashboard-button-icon-radius * 0.8;
    width: $dashboard-button-icon-size * 0.8;
    height: $dashboard-button-icon-size * 0.8;
  }
    
  }

.dashboard-button-label {
  position: absolute;
  right: 21px;  
  /*bottom: 10px;*/
  bottom: 6%;
  font-size: 1.5em; 


   @media only screen and (min-width: 768px) {
      font-size: 2em; 
   }

  /* Landscape phones and down */
  @media only screen and (max-width: 320px) { 
    font-size: 1em; 
  }
}

.dashboard-button-checkin {
  background-color: #659bce;

  &.dashboard-button-pressed {
    background-color: darken(#659bce , 30%);
  }   

  .x-button-icon {
    background-image: url('../images/dashboard/production_barcode.png'); 
  }
  
}

.dashboard-button-history {
  background-color: lighten(#659bce , 10%);

  &.dashboard-button-pressed {
    background-color: darken(#659bce , 20%);
  }

  .x-button-icon {
    background-image: url('../images/dashboard/places_3d.png');  
  }

/*  .dashboard-button-label {
    font-size: 2em;

     @media only screen and (min-width: 768px) {
      font-size: 2.5em; 
    }
      @media only screen and (max-width: 320px) { 
        font-size: 1.5em; 
      }
  }*/
  
}

.dashboard-button-demo {
  background-color: lighten(#659bce, 20%);

  &.dashboard-button-pressed {
     background-color: darken(#659bce , 10%);
  }

/*  .dashboard-button-label {
    font-size: 2em;
     @media only screen and (min-width: 768px) {
      font-size: 2.5em; 
      }
    @media only screen and (max-width: 320px) { 
        font-size: 1.5em; 
    }
  }*/

  .x-button-icon {
    background-image: url('../images/dashboard/scan_handy_3d.png');  
  }
}

/*.dashboard-button-pressed {
  color: #FFF;
  background-color: #DDD;
}*/

/*.dashboard-button-login {
  background-image: url('../images/dashboard/login.png');
}

.dashboard-button-facebook {
  background-image: url('../images/dashboard/facebook.png');
}*/

.dashboard-button-badge {
  margin-left: 34px;
  top: 17px;
  /*  sencha copy paste, some adjustments */
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: .1em .3em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
  overflow: hidden;
  color: #FCC;
  border: 1px solid #900;
  position: absolute;
  width: auto;
  min-width: 2em;
  line-height: 1.2em;
  font-size: .6em;
  max-width: 95%;
  background-color: #C00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F66), color-stop(2%, #F00000), color-stop(100%, #A80000));
  background-image: -webkit-linear-gradient(#F66, #F00000 2%, #A80000);
  background-image: linear-gradient(#F66, #F00000 2%, #A80000);
  display: inline-block;
}