.x-tilebutton {
  font-size: 0.9em;
  color: $dashboard-color;
  position: relative;
  background-color: $tilebutton-color;
  /*max-height: 200px;*/
  -webkit-box-orient: vertical;
  box-orient: vertical;
  border-bottom-width: 2px;
}

.x-tilebutton-title {
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 8px 0 8px;
  color: $tilebutton-font-color;
}

.x-tilebutton-label {
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 3px 8px 8px 8px;
  color: $tilebutton-font-color;
}

.x-tilebutton-icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $active-color;
  width: 100%;

  @media only screen and (min-width: 768px) {
    background-size: 88px;
    -webkit-mask-size: 88px;    
    height: 88px;
  }

  /* Landscape phone to portrait tablet */
  @media only screen and (max-width: 767px) { 
    background-size: 88px;
    -webkit-mask-size: 88px;    
    height: 88px;
  }

  /* Landscape phones and down */
  @media only screen and (max-width: 320px) { 
    -webkit-mask-size: 64px;
    background-size: 64px;
    height: 64px;
  }

  &.noicon {
    background-color: $tilebutton-color !important;  
    height: auto !important;  
  }

  img {
    width: 100%;
    height: auto;
  }
}

.x-tilebutton-icon-expand {
  background-size: auto !important;
}

.x-tilebutton-icon-fit {
  background-size: 100% auto !important;
}

.x-tilebutton-pressed {
  background-color: darken($tilebutton-color, 10%);
}

 /*Badges*/
$badge-size: 2em !default;
$badge-radius: .2em !default;
$badge-bg-color: darken($alert-color, 10%) !default;
$badge-bg-gradient: $base-gradient !default;

.x-hasbadge {
  overflow: visible;
  .x-tilebutton-badge {
    @extend .x-button-label;
    @include background-clip(padding-box);
    @if $include-border-radius { @include border-radius($badge-radius); }
    padding: .1em .3em;
    z-index: 2;
    @if $include-button-highlights {
      @include bevel-by-background($badge-bg-color);
      @include box-shadow(rgba(#000, .5) 0 .1em .1em);
    }
    overflow: hidden;
    @include color-by-background($badge-bg-color, $contrast: 50%);
    border: 1px solid darken($badge-bg-color, 10%);
    position: absolute;
    width: auto;
    min-width: $badge-size;
    line-height: 1.2em;
    font-size: 1em;
    right: 0px;
    top: -.2em;
    max-width: 95%;
    @include background-gradient($badge-bg-color, $badge-bg-gradient);
    display: inline-block;
    /*border-radius: 1em;*/
  }
}
